/* disable text selection */
svg *::selection {
    background : transparent;
}

svg *::-moz-selection {
    background:transparent;
}

svg *::-webkit-selection {
    background:transparent;
}
/*http://bl.ocks.org/lgersman/5311083*/
rect.selection {
    stroke          : gray;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

g.node circle.outer {
    display: none;
    stroke: red;
    stroke-width: 1px;
    stroke-dasharray: 4px;
    fill: transparent;
}

g.node.selected circle.outer {
    display         : inline;
}

button {
    position: absolute;
    background: white;
    border: 1px solid #FB8C00;
    color: #FB8C00;
    padding: 10px;
}

#ResetButton, #ConfigButton {
    top: 30px;
}

#ResetButton {
    right: 120px;
}

#ConfigButton {
    right: 30px;
}

#applyButton, #cancelButton {
    bottom: 25px;
}

#applyButton {
    right: 35px;
}

#cancelButton {
    right: 120px;
}

span {
    font: normal normal 13px/1 "roboto-regular", Arial;
}

.node text {
    font: 12px verdana;
    stroke-width: 0.1;
}

path.link {
    fill: none;
    stroke-width: 1.5px;
}

.d3-tip {
    line-height: 1;
    color: black;
}

#miniSvgContainer{
    height:200px;
    width:250px;
    position:absolute;
    z-index:15;
    left:10px;
    top:10px;
    border:1px dashed black;
}

.overlay-win {
    display: none;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    background: rgba(0, 0, 0, 0.2);
}

.dialog {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 15%;
    left: 400px;
    width: 500px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 10px 8px 10px #888888;
    border-radius: 3px;
}

.dialog-container {
    margin: 30px;
}

label {
    color: #a6a6a6;
    font-weight: 500 !important;
}

input[type="text"] {
    padding-left: 20px;
}