.related-item {
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 50px lightgray;
}

.node-point .inside-txt {
    font-size: 13px;
    fill: #fff;
}
svg *::selection, svg *::-moz-selection, svg *::-webkit-selection {
    background: transparent;
}

#mainSvgContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#miniSvgContainer {
    overflow: hidden;
    height: 111px;
    width: 230px;
    position: absolute;
    z-index: 15;
    right: 20px;
    bottom: 20px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 5px lightgrey;
    background: white;
}

.overlay-win {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2);
}

.dialog {
    position: absolute;
    z-index: 1000;
    top: 15%;
    left: 400px;
    width: 500px;
    height: 370px;
    background: #FFFFFF;
    box-shadow: 10px 8px 10px #888888;
    border-radius: 3px;
}

.dialog-container {
    margin: 30px;
}

/***** SVG: Start *****/
rect.smallMapSelection {
    stroke: #d5d5d5;
    fill: rgba(0, 0, 0, 0.06);
    stroke-dasharray: 0;
}

rect.selection {
    stroke: gray;
    stroke-dasharray: 4px;
    fill: transparent;
}

rect.selection {
    stroke: gray;
}

g.node-point circle.outer {
    display: none;
    stroke: red;
    stroke-dasharray: 4px;
    fill: transparent;
}

g.node-point.selected circle.outer {
    display: inline;
}

.node-point text {
    font: 12px verdana;
}

.node-point.disabled {
    opacity: 0.2;
}

path.link {
    fill: none;
    stroke-width: 1.5px;
}

.link.disabled {
    opacity: 0.01;
}

/***** SVG: End *****/
/***** Form control: Start *****/
button {
    position: absolute;
    background: white;
    border: 0px;
    color: #343434;
    padding: 5px 10px;
    border-radius: 2px;
    transition: background .3s ease-out;
}

button.primary {
    color: orangered;
}

button:hover {
    background: lightgray;
}

#applyButton, #cancelButton {
    bottom: 15px;
}

#applyButton {
    right: 35px;
}

#cancelButton {
    right: 120px;
}

input[type="text"] {
    padding-left: 20px;
}

input[type="radio"], input[type="radio"] + span, input[type="checkbox"], input[type="checkbox"] + span {
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
    position: relative;
    margin-right: 15px !important;
}

input[type="radio"]:before, input[type="radio"]:checked:after, input[type="checkbox"]:before, input[type="checkbox"]:checked:after {
    content: "";
    display: inline-block;
    position: absolute;
}

input[type="radio"]:before, input[type="checkbox"]:before {
    top: -1px;
    height: 14px;
    width: 14px;
    border: 1px solid lightgray;
    background: white;
}

input[type="radio"]:before, input[type="radio"]:checked:after {
    border-radius: 50%;
}

input[type="checkbox"]:before {
    border-radius: 1px;
}

input[type="radio"]:checked:before, input[type="checkbox"]:checked:before {
    border: 1px solid orangered;
}

input[type="checkbox"]:checked:before {
    background: orangered;
}

input[type="radio"]:checked:after {
    left: 3px;
    top: 2px;
    height: 8px;
    width: 8px;
    background: orangered;
}

input[type="checkbox"]:checked:after {
    top: 1px;
    left: 5px;
    height: 8px;
    width: 4px;
    border: solid white;
    border-width: 0 2px 2px 0;
    border-radius: 20%;
    transform: rotate(45deg);
}

/***** Form control: Start *****/
span {
    font: normal normal 13px/1 "roboto-regular", Arial;
}

.d3-tip {
    line-height: 1;
    color: black;
}

label {
    color: #a6a6a6;
    font-weight: 500 !important;
}

.setting-bar, .action-bar {
    position: absolute;
}

.setting-bar {
    top: 25px;
    right: 20px;
}

.action-bar {
    top: 40px;
    right: 9px;
}

.material-icons, .kyvos-icons, .kyvos-icons label {
    cursor: pointer;
}

.material-icons {
    color: lightgray;
}

.material-icons:hover {
    color: orangered;
}

.kyvos-icons:hover {
    background: orangered;
}

.kyvos-icons {
    width: 20px;
    height: 20px;
    margin: 2px;
    color: white !important;
    background: lightgray;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: small;
}

.related-items-note {
    left: 25px;
    bottom: 20px;
    position: absolute;
    color: darkgray;
}