<div id="mainSvgContainer">
    <svg class="graphSVG mainSVG"></svg>
</div>
<div id="miniSvgContainer">
    <svg class="graphSVG miniSVG"></svg>
</div>
<div class="action-bar">
    <div>
        <i class="material-icons">home</i>
    </div>
    <div>
        <i class="material-icons" id="ResetButton">refresh</i>
    </div>
    <div>
        <i class="material-icons" ng-click="zoomInOut(1)">add_circle</i>
    </div>
    <div>
        <i class="material-icons" ng-click="zoomInOut(-1)">remove_circle</i>
    </div>
    <div class="kyvos-icons">
        <span>L</span>
    </div>
</div>
<div class="related-items-note">
    <span>Note: ctrl + drag for selection.</span>
</div>